---
import "@fontsource/roboto";
import "@fontsource-variable/manrope";

import { getImage, Image } from "astro:assets";

import mobile from "/public/hero/mobile.avif";
import desktop from "/public/hero/desktop.avif";

const optimizedBackgroundMobile = await getImage({
  src: mobile,
  format: "avif",
});
const optimizedBackgroundDesktop = await getImage({
  src: desktop,
  format: "avif",
});

import barbell from "/public/icons/barbell.svg";
import boxingGlove from "/public/icons/boxing-glove.svg";
import skippingRope from "/public/icons/skipping-rope.svg";
import personSimpleRun from "/public/icons/person-simple-run.svg";
import arrowDown from "/public/icons/arrow-down.svg";

const BAGDELIST = [
  { icon: barbell, name: "weightlifting" },
  { icon: boxingGlove, name: "boxing" },
  { icon: skippingRope, name: "classes" },
  { icon: personSimpleRun, name: "performance" },
];
---

<section class="relative h-screen w-full bg-center bg-cover bg-fixed flex flex-col p-4" id="heroBackground" style={{"--background-mobile": `url('${optimizedBackgroundMobile.src}')`, "--background-desktop": `url('${optimizedBackgroundDesktop.src}')`,}}>
  <section class="h-auto flex flex-col justify-center items-center flex-1 gap-5">
    <h1 class="text-white text-center text-4xl sm:text-[58px] sm:w-[500px] font-bold sm:leading-[70px]">UNLEASH YOUR POTENTIAL</h1>
    <a href="/#free-pass" class="inline-block p-3 sm:px-5 sm:py-2 rounded-full bg-[#C24E3D] sm:text-black">CLAIM FREE PASS</a>
    <Image src={arrowDown} alt="Arrow Down Icon" class="size-[42px]" />
  </section>

  <section class="max-sm:hidden w-full max-w-screen-xl flex justify-center items-center md:gap-2 lg:gap-[40px] m-auto py-8">
    {
      BAGDELIST.map(({ icon, name }) => (
        <span class="w-[220px] h-[48px] bg-[#808080]/20 backdrop-blur-md text-white inline-flex justify-center items-center md:text-base lg:text-lg font-semibold uppercase border border-[#292929] rounded">
          <Image src={icon} alt={name} class="mr-[10px] size-7" /> {name}
        </span>
      ))
    }
  </section>
</section>

<style>
  #heroBackground {
    background-image: var(--background-mobile);
  }

  @media (min-width: 768px) {
    #heroBackground {
      background-image: var(--background-desktop);
    }
  }

  h1 {
    font-family: "Roboto", sans-serif;
  }

  span {
    font-family: "Manrope Variable", sans-serif;
  }
</style>
