---
import "@fontsource/pt-sans";
import "@fontsource-variable/outfit";

import { Image } from "astro:assets";
import img1 from "../../public/review/1.avif";
import img2 from "../../public/review/2.avif";
import img3 from "../../public/review/3.avif";

import { REVIEWS } from "../js/reviews.js";
---

<section class="w-full h-full max-w-screen-xl m-auto px-4 max-lg:pb-7">

  <section class="w-full h-full lg:flex lg:justify-center lg:items-center lg:mb-10 lg:mt-6">

    <section class="mx-auto lg:flex-col lg:justify-center lg:items-center">
      <h2 class="text-2xl lg:text-3xl uppercase font-bold text-center mt-3 mb-7 lg:hidden">Member Feedback</h2>
      <h2 data-aos="zoom-in" class="text-2xl lg:text-3xl uppercase font-bold text-start mt-3 mb-7 max-lg:hidden max-w-[376px]">What our members say about us</h2>

      <section data-aos="zoom-in" data-aos-delay="100" class="flex flex-col justify-center items-center lg:items-start lg:mt-12">
        <picture class="inline-flex w-28 relative h-12">
          <Image src={img1} alt="" class="ring-2 ring-[#292929] size-12 rounded-full absolute z-0" />
          <Image src={img2} alt="" class="ring-2 ring-[#292929] size-12 rounded-full absolute z-10 left-8" />
          <Image src={img3} alt="" class="ring-2 ring-[#292929] size-12 rounded-full absolute z-20 left-16" />
        </picture>
        <p data-aos="zoom-in" data-aos-delay="200" class="text-[#A6A6A6] mt-1">100+ 5 Star Reviews</p>
      </section>

    </section>
  
    <div data-aos="zoom-in" data-aos-delay="300" class="swiper max-w-[572px] max-h-[259px] md:min-h-52 md:max-h-52 lg:min-h-[259px] lg:max-h-[259px] max-lg:mt-7 rounded-lg">
      <div class="swiper-wrapper rounded-lg">
        {
          REVIEWS.map(({ reviewText, img, reviewerName, reviewerTitle }) => (
            <div class="swiper-slide w-full min-h-[236px] lg:min-h-[259px] lg:max-h-[259px] bg-[#EDEDED] p-5 lg:p-10 rounded-lg">
              <section class="flex justify-end mb-4">
                <img src="/review/star.svg" alt="star" class="size-5 lg:size-6" />
                <img src="/review/star.svg" alt="star" class="size-5 lg:size-6" />
                <img src="/review/star.svg" alt="star" class="size-5 lg:size-6" />
                <img src="/review/star.svg" alt="star" class="size-5 lg:size-6" />
                <img src="/review/star.svg" alt="star" class="size-5 lg:size-6" />
              </section>
              <p>{reviewText}</p>
              <section class="flex gap-6 mt-4">
                <Image src={img} alt={reviewerName} class="ring-1 ring-[#292929] size-12 rounded-full" />
                <section>
                  <p class="user">{reviewerName}</p>
                  <p class="text-xs text-[#A6A6A6]">{reviewerTitle}</p>
                </section>
              </section>
            </div>
          ))
        }
      </div>
  
      <div class="swiper-pagination"></div>
      <div class="max-lg:hidden w-full">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

  </section>
  
</section>

<script>
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";
  
  document.addEventListener("astro:page-load", () => {

    const swiper = new Swiper(".swiper", {
      direction: "horizontal",
      spaceBetween: 16,
      loop: true,
      autoplay: {
        delay: 4000,
      },

      pagination: {
        el: ".swiper-pagination",
      },

      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  });
</script>

<style>
  .user {
    font-family: "Outfit Variable", sans-serif;
  }
  p {
    font-family: "PT Sans", sans-serif;
  }

  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 15px;
    --swiper-theme-color: white;
    width: 30px;
    height: 30px;
    background: #c24e3d;
  }

  .swiper-button-prev {
    border-radius: 0 8px 8px 0;
    left: -5px;
    right: auto;
  }

  .swiper-button-next {
    border-radius: 8px 0 0 8px;
    right: -5px;
    left: auto;
  }

  .swiper-pagination {
    --swiper-pagination-color: #c24e3d;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-inactive-color: #a6a6a6;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
  }
</style>
